name: "go test"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    paths:
      - '**/*.go'

jobs:
  test:
    name: "go test"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.20', '1.21.x', '1.22.x' ]

    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
          cache-dependency-path: "go.sum"
      - name: "print go version"
        run: "go version"
      - name: "install dependencies"
        run: "go get -t ."
      - name: "build"
        run: "go build -v ./..."
      - name: "tests"
        run: "go test -count 100 ./..."
      - name: "covered tests"
        run: "go test -count 100 -coverprofile coverage.out ./..."
      - name: "race check"
        run: "go test -race -count 100 ./..."
      - name: "check cleanups demo"
        run: "go run ./cleanupsdemo"
